@import '../../../styles.scss';
//LINEA GRADIENT SUPERIOR
.grad-bar {
  width: 100%;
  height: 1px;
  background: linear-gradient(-45deg, #34bfe9, #1e29c4, #121981, rgb(4, 8, 58));
  background-size: 400% 400%;
  -webkit-animation: gradbar 15s ease infinite;
	-moz-animation: gradbar 15s ease infinite;
	animation: gradbar 15s ease infinite;
}

//NAV
.navbar-collapse.show, .custom-toggler-button {
  background-color: var(--black);
}

.navbar{
  border-bottom: 1px solid rgba(255, 255, 255, 0.329);
}
.nav-link{
  color: white;
  list-style: none;
}
.nav-item{
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  color: var(--white);
  padding: 2px;
  margin: 20px;
  border-radius: 10px;
}
#navItem1:hover {
  background-color: var(--orange) ;
  @include borderRadius(20px);
}
#navItem2:hover {
  background-color: var(--pink);
  @include borderRadius(20px);
}
#navItem3:hover {
  background-color: var(--violet);
  @include borderRadius(20px);
}
#navItem4:hover {
  background-color: var(--purple);
  @include borderRadius(20px);
}
#navItem5:hover {
  background-color: var(--green) ;
  @include borderRadius(20px);
}
#navItem6:hover, #navItem7:hover {
  background-color: var(--pink) ;
  @include borderRadius(20px);
}

//LINEA ARRIBA
@-webkit-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@-moz-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
