<section class="container-fluid home">
  <div class="row text-center">
    <div class="col-lg-12 text-center">
      <h1 class="titleText">
        BECAUSE RETRO IT'S BETTER
      </h1>
    </div>

    <div id="app">
      <div id="wrapper">
        <span class="sub">PLAY</span>
        <h1 class="glitch" data-text="QUANTUM">QUANTUM</h1>
        <span class="sub">GAMES</span>
      </div>
    </div>

    <div class="btnDiv col-lg-12">
      <app-button routerLink="/information">LETS'S EXPLORE</app-button>
    </div>
  </div>
</section>

<!-- LINEAS BG -->
<div id="retrobg">
  <div id="retrobg-ground">
      <div id="retrobg-linesWrap">
          <div id="retrobg-lines">
              <div id="retrobg-vlines">
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
                  <div class="retrobg-vline"></div>
              </div>
              <div id="retrobg-hlines">
                  <div class="retrobg-hline"></div>
                  <div class="retrobg-hline"></div>
                  <div class="retrobg-hline"></div>
                  <div class="retrobg-hline"></div>
                  <div class="retrobg-hline"></div>
                  <div class="retrobg-hline"></div>
                  <div class="retrobg-hline"></div>
                  <div class="retrobg-hline"></div>
                  <div class="retrobg-hline"></div>
                  <div class="retrobg-hline"></div>
              </div>
          </div>
      </div>
      <div id="retrobg-groundShadow"></div>
    </div>
</div>
