<!-- AL PASAR EL ROW A CLASE BG, SE MALOGRA LA ANIMACION, OCUPO ENCONTRAR LA MANERA QUE SIGA SIENDO NITIDA -->
<section class="container-fluid home outer">
  <app-scroll-down-arrow></app-scroll-down-arrow>
  <div class="row bg">
    <div class="inner">
      <div class="col-lg-12">
        <div class="row">

          <div class="col-lg-11 offset-lg-1">
            <h1 class="titleText">
              QUANTUM <span> GAMES</span>
            </h1>
          </div>

          <div class="col-lg-11 offset-lg-1">
            <p class="semiText">
              DUMMY <br> TEXT
            </p>
            <app-button color="white" routerLink="/servicios">DUMMY BUTTON</app-button>
            <app-button color="green" routerLink="/nosotros">DUMMY BUTTON</app-button>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>




<!-- SECTION 1 -->
<section class="container-fluid first outer">
  <div class="row bg">
    <div class="inner">
      <div class="col-lg-12">
        <div class="row">

          <div class="col-12 col-lg-6">
            <p class="semiText">
              DUMMY TEXT
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <p class="semiText">
              DUMMY TEXT
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="container-fluid second outer">
  <div class="row bg">
    <div class="inner">

      <div class="col-lg-12">
        <div class="row">

          <div class="col-12 col-lg-6">
            <p class="semiText">
              DUMMY TEXT
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <p class="semiText">
              DUMMY TEXT
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="container-fluid third outer">
  <div class="row bg">
    <div class="inner">

      <div class="col-lg-12">
        <div class="row">

          <div class="col-12 col-lg-6">
            <p class="semiText">
              DUMMY TEXT
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <p class="semiText">
              DUMMY TEXT
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="container-fluid fourth outer">
  <div class="row bg">
    <div class="inner">

      <div class="col-lg-12">
        <div class="row">

          <div class="col-12 col-lg-6">
            <p class="semiText">
              DUMMY TEXT
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <p class="semiText">
              DUMMY TEXT
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="container-fluid fifth outer">
  <div class="row bg">
    <div class="inner">

      <div class="col-lg-12">
        <div class="row">

          <div class="col-12 col-lg-6">
            <p class="semiText">
              DUMMY TEXT
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <p class="semiText">
              DUMMY TEXT
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
