/*
font-family: 'Anton', sans-serif;
font-family: 'League Gothic', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;

https://www.smartresize.com/es/hd-wallpaper-desktop-zlzwk
https://s0.smartresize.com/wallpaper/628/215/HD-wallpaper-blonde-blue-eye-anime-girl.jpg
https://s0.smartresize.com/wallpaper/229/775/HD-wallpaper-anime-girl-blonde-original-anime-yellow-eyes.jpg
https://s0.smartresize.com/wallpaper/399/1018/HD-wallpaper-anime-original-computer-girl-glasses.jpg
*/

body {
  background: /* $bg-gradient, */
  url("../src/assets/original.jpg") no-repeat center fixed;
  background-size: cover;

}

 /*COLORS */
$bg-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.6) 0%,
  rgba(0, 0, 0, 0.685) 100%
);
:root {
  --transparent: #00000000;
  --green: #9ce990;
  --light-green: #99ff6a;
  --pink: #df98f5;
  --blue: #0576ff;
  --cyan: #87f8fc;
  --orange: #ff9f45;
  --violet: #ff61d8;
  --lile: #9c27b0;
  --purple: #673ab7;
  --white: #ffffff;
  --black: #000000;
  --bg:
  radial-gradient(
    60vmax 60vmax at 0% 0%,
    hsl(240, 100%, 2%) 0%,
    hsla(240, 100%, 2%, 0.753) 95%),
  radial-gradient(
    80vmax 50vmax at 110% -10%,
    hsla(175, 100%, 60%, 0.9) 0%,
    hsla(200, 100%, 50%, 0.5) 50%,
    hsla(240, 100%, 50%, 0) 95%),
  radial-gradient(
    90vmax 50vmax at 50vmax 50vmax,
    hsla(260, 100%, 60%, 0.9) 0%,
    hsla(240, 100%, 60%, 0) 95%)
  }


/* TEXTS / TITLES */
@mixin title($valor){
  font-family: 'Montserrat', sans-serif;
  font-weight:bolder;
  font-size: $valor;
  color: var(--white);
}

/* BORDER */
@mixin borderRadius($valor){
  -webkit-border-radius: $valor;
  -moz-border-radius: $valor;
  -ms-border-radius: $valor;
  -o-border-radius: $valor;
  border-radius: $valor;
}
